In [1]:
import pandas as pd

In [12]:
q1 = pd.read_csv("q1.csv")

In [29]:
q1.loc[q1.tripduration >0, 'tripduration'] /= 60

In [30]:
q1.head()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,16.166667,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,12.050000,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,8.266667,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,5.100000,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,5.100000,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [31]:
len(q1)

2538780

In [19]:
df1 = pd.read_csv("201801-citibike-tripdata.csv")
df2 = pd.read_csv("201802-citibike-tripdata.csv")
df3 = pd.read_csv("201803-citibike-tripdata.csv")
#df4 = pd.read_csv("201804-citibike-tripdata.csv")
#df5 = pd.read_csv("201805-citibike-tripdata.csv")
#df6 = pd.read_csv("201806-citibike-tripdata.csv")
#df7 = pd.read_csv("201807-citibike-tripdata.csv")
#df8 = pd.read_csv("201808-citibike-tripdata.csv")
#df9 = pd.read_csv("201809-citibike-tripdata.csv")
#df10 = pd.read_csv("201810-citibike-tripdata.csv")
#df11= pd.read_csv("201811-citibike-tripdata.csv")
#df12 = pd.read_csv("201812-citibike-tripdata.csv")

dfq1 = pd.concat([df1, df2, df3], axis=0, ignore_index=True)

#print(df.head())
len(dfq1)

2538780

In [20]:
dfq1.to_csv('q1.csv')

In [21]:
dfq1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [23]:
df4 = pd.read_csv("201804-citibike-tripdata.csv")
df5 = pd.read_csv("201805-citibike-tripdata.csv")
df6 = pd.read_csv("201806-citibike-tripdata.csv")

dfq2 = pd.concat([df4, df5, df6], axis=0, ignore_index=True)

#print(df.head())
#len(dfq2)

In [24]:

dfq2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,840,2018-04-01 03:07:39.0700,2018-04-01 03:21:39.1280,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,1
1,1438,2018-04-01 07:20:02.2150,2018-04-01 07:44:00.5690,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,1
2,219,2018-04-01 08:11:14.4060,2018-04-01 08:14:53.7880,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,1
3,410,2018-04-01 08:52:32.3730,2018-04-01 08:59:23.2190,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,1
4,485,2018-04-01 09:37:34.3270,2018-04-01 09:45:39.9980,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,1

In [25]:
len(dfq2)

5085356

In [26]:
dfq2.to_csv('q2.csv')

In [29]:
df7 = pd.read_csv("201807-citibike-tripdata.csv")

In [30]:
df8 = pd.read_csv("201808-citibike-tripdata.csv")

In [31]:
df9 = pd.read_csv("201809-citibike-tripdata.csv")

In [32]:
dfq3 = pd.concat([df7, df8, df9], axis=0, ignore_index=True)

In [33]:
dfq3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [34]:
dfq3.to_csv('q3.csv')

In [9]:
dfq4 = pd.concat([df10, df11, df12], axis=0, ignore_index=True)

#print(df.head())
len(dfq4)

1878657

In [35]:
df10 = pd.read_csv("201810-citibike-tripdata.csv")

In [36]:
df11 = pd.read_csv("201811-citibike-tripdata.csv")

In [37]:
df12 = pd.read_csv("201812-citibike-tripdata.csv")

In [38]:
dfq4 = pd.concat([df10, df11, df12], axis=0, ignore_index=True)

len(dfq4)

4155517

In [39]:
dfq4.to_csv('q4.csv')
dfq3.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,1

In [40]:
q1 = pd.read_csv("q1.csv")

In [41]:
len(q1)

2538780

In [42]:
q2 = pd.read_csv("q2.csv")

In [43]:
len(q2)

5085356

In [44]:
q3 = pd.read_csv("q3.csv")

In [45]:
len(q3)

5768686

In [46]:
q4 = pd.read_csv("q4.csv")

In [47]:
len(q4)

4155517

In [48]:
df = pd.concat([q1, q2, q3, q4], axis=0, ignore_index=True)

In [ ]:
len(df)

In [ ]:
df.to_csv('2018.csv')